* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  margin: 50px auto;
  position: relative;
  overflow: hidden;
  width: 500px;
  height: 700px;
  border: 2px solid #000;
}

.tetris {
  width: 500px;
  height: 900px;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  position: absolute;
  bottom: 0;
  background-color: rgb(234, 212, 255);
}

.excel {
  width: 50px;
  height: 50px;
  border: 1px solid #ccff00;
}

.figure, .set {
  background-color: rgb(43, 154, 117);
}